
    <td class="subpagecenterstrip" align="left" style="padding-left:8px;">

<% @jewelle.each do |j| %>
<table width="530px" border="0" cellspacing="0" cellpadding="3">
  <tr style="border-bottom:#CCCCCC 1px solid; border-collapse:collapse;">
    <td align="center"><%= image_tag("/#{j.img_name}") %> </td>
	<td><a href="#" class="subpagelinks"><%= j.name %><br /><br />
	</a>
	<font class="dollertext"><%= j.price %></font></td>
<hr width="500px" />
<% end %>
	</td>
	</tr>
	<tr>
   
  </tr>
</table>

	
	
	</td>
  </tr>
</table>

	</td>
  </tr>
  <tr>
  <td height="10px"></td>
  
